{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="container">
	<h5>{{ category.cat_name }} </h5>
	<h3>{{ product.prod_name }}</h3>
	<img src="{{ url_for('static', filename='images/') }}{{product.prod_file}}">
	<p>$ {{ product.prod_price }}</p>
	<p>Quedan {{ product.prod_quantity }} disponibles</p>
	<form action="{{url_for('cart.addCart')}}" method="post">
		<input type="hidden" name="product_id" value="{{product.prod_id}}">
		<button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
		<label for=""> Quantity: </label>
		<input type="number" name="quantity" value="1" min="1" max="{{product.prod_quantity}}">             
	</form>
	<br>
	{% for c in comments %}
		<p>{{c.com_comment}}</p>
	{% endfor %}
	<br>
	<div class="content-section">
			<form method="POST">
				<div class="form-group form-inline">
				  <!-- <div class="form-group col-lg-6 col-md-6 email">
					<input type="email" name="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
				  </div>										 -->
				</div>
				<div class="form-group">
					<textarea name="comment" class="form-control mb-10" rows="5" name="comment" placeholder="Deja tu comentario.." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Deja tu comentario..'" required=""></textarea>
				</div>
				<button type="submit" class="primary-btn submit_btn">Enviar comentario</button>	
			</form>
    </div>
</div>
{% endblock %}